<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund Blockchain</title>
    <script src="./web3/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/process.js"></script>
</head>
<body>
    <h2>Fund</h2>
    <button id="btn_connect_MM">Connect Metamask</button>
    <h3 id="account">0x...</h3>
    <h3 id="install">Please install metamask</h3>
    
    <hr/>

</body>
</html>